* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    gap: 60px;
}

main section {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

body {
    color: white;
}

/* Header y navegación */
header {
    display: flex;
    background-color: #050608;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    position: relative;
    z-index: 1000;
}

.nav-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    position: relative;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    padding-left: 50px;
}

.logo::after {
    content: "_";
    position: absolute;
    right: -15px;
    animation: blink 1s steps(2, start) infinite;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

nav {
    display: flex;
    gap: 35px;
    padding-right: 50px;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    overflow: hidden;
    transition: color 0.15s ease, text-shadow 0.15s ease;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #61dafb;
    border-radius: 2px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.15s ease;
}

nav a:hover {
    color: #61dafb;
    text-shadow:
        0 0 5px #61dafb,
        0 0 10px #61dafb,
        0 0 15px #61dafb;
}

nav a:hover::after {
    transform: scaleX(1);
}

@keyframes shine {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}

.container-languages,
.container-technologies {
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 30px;
    white-space: nowrap;
}

.container-languages h3 {
    padding-bottom: 30px;
}

.container-technologies h3 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.container-languages ul,
.container-technologies ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: flex-start;
    white-space: nowrap;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 600px;
    margin: 0 auto 40px auto;
    text-align: left;
}

.about-image img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #61dafb;
    margin-right: 20px;
}

.about-text h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #61dafb;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: white;
}

.container-languages ul li img,
.container-technologies ul li img {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
    transition: transform 0.3s ease;
}

.container-languages ul li img:hover,
.container-technologies ul li img:hover {
    transform: scale(1.1);
}

/* Sección proyectos */
.projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    padding-top: 20px;
}

.projects-list li {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.projects-list li:hover {
    transform: scale(1.05);
}

#contact {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px rgba(97, 218, 251, 0.5);
    border: 2px solid rgba(97, 218, 251, 0.8);
    border-radius: 8px;
    margin: 50px auto 0 auto;
}

/* Sección contacto */
#contact h2 {
    margin-bottom: 15px;
    font-weight: 600;
}

/* Formulario */
form#contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
    align-items: center;
}

form#contact-form label {
    font-weight: 600;
}

form#contact-form input,
form#contact-form textarea {
    padding: 8px 10px;
    border: 3px solid black;
    border-radius: 4px;
    font-size: 1rem;
    resize: vertical;
    transition: border-color 0.3s ease;
    width: 500px;
}

form#contact-form input:focus,
form#contact-form textarea:focus {
    border-color: #61dafb;
    outline: none;
}

form#contact-form button {
    padding: 10px 15px;
    border: none;
    width: 300px;
    background-color: #2e4db4;
    color: white;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

form#contact-form button:hover {
    background-color: #21a1f1;
}

footer {
    text-align: center;
    padding: 25px 10px;
    background-color: #050608;
    color: white;
    font-size: 0.9rem;
    margin-top: 60px;
    user-select: none;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(25, 25, 51);
    /* Fondo de la página */
}

main,
footer {
    position: relative;
    z-index: 1;
}

#studies {
    position: relative;
    padding-left: 40px;
    max-width: 600px;
    margin: 0 auto 60px auto;
}

#studies h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

/* Línea vertical */
.studies-list::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 20px;
    width: 4px;
    height: 100%;
    background-color: #61dafb;
    border-radius: 2px;
}

/* Cada item */
.study-item {
    position: relative;
    border-radius: 8px;
    padding: 20px 25px 20px 40px;
    margin-bottom: 70px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.6s ease-out;
}

/* Punto en la línea para cada estudio */
.study-item::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -32px;
    width: 16px;
    height: 16px;
    background-color: #61dafb;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 3px #61dafb;
}

/* Fecha */
.study-item .date {
    font-size: 0.9rem;
    color: #bbb;
    font-style: italic;
    margin-bottom: 8px;
    display: block;
}

/* Animación para mostrar (clase activa) */
.study-item.active {
    opacity: 1;
    transform: translateX(0);
}

#experience {
    position: relative;
    padding-left: 40px;
    max-width: 600px;
    margin: 0 auto 60px auto;
}

#experience h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

/* Línea vertical */
.experience-list::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 20px;
    width: 4px;
    height: 100%;
    background-color: #61dafb;
    border-radius: 2px;
}

/* Cada item */
.experience-item {
    position: relative;
    border-radius: 8px;
    padding: 20px 25px 20px 40px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.6s ease-out;
}

/* Punto en la línea para cada experiencia */
.experience-item::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -32px;
    width: 16px;
    height: 16px;
    background-color: #61dafb;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 3px #61dafb;
}

/* Fecha */
.experience-item .date {
    font-size: 0.9rem;
    color: #bbb;
    font-style: italic;
    margin-bottom: 8px;
    display: block;
}

/* Animación para mostrar (clase activa) */
.experience-item.active {
    opacity: 1;
    transform: translateX(0);
}

#music-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    padding-right: 50px;
}

#menu-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
}

nav.open {
    display: flex;
}

.fadeInUp {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main>* {
    opacity: 0;
    transform: translateY(30px);
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

/* Delays escalonados para cada sección */
main>*:nth-child(1) {
    animation-delay: 0.2s;
}

main>*:nth-child(2) {
    animation-delay: 0.4s;
}

main>*:nth-child(3) {
    animation-delay: 0.6s;
}

main>*:nth-child(4) {
    animation-delay: 0.8s;
}

main>*:nth-child(5) {
    animation-delay: 1s;
}



/* Responsive */
@media (max-width: 600px) {
    nav {
        position: fixed;
        top: 80px;
        right: 0;
        width: 200px;
        background-color: #050608;
        display: none;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        border-radius: 0 0 0 10px;
        padding: 15px;
        z-index: 10000;
        align-items: center;
        text-align: center;
    }

    nav a {
        color: white;
        padding: 10px 0;
        display: block;
    }

    nav a:hover {
        color: white !important;
        text-shadow: none !important;
    }

    nav a::after {
        display: none !important;
    }

    #menu-toggle {
        color: white;
        display: block;
        padding-right: 30px;
    }

    /* Reduce márgenes laterales y verticales en main */
    main {
        margin: 20px 15px;
        padding: 0 15px;
    }

    /* Secciones max-width más pequeñas */
    main section {
        max-width: 100%;
        padding: 0 10px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .about-image img {
        width: 120px;
        height: 120px;
    }

    .about-text h1 {
        font-size: 1.7rem;
    }

    /* Ajusta tamaño de fuente para textos */
    #about p,
    .projects-list,
    nav a {
        font-size: 0.9rem;
    }

    /* Ajusta tamaño y padding del logo */
    .logo {
        font-size: 1.3rem;
        padding-left: 30px;
    }

    /* Contact form ocupa casi todo el ancho */
    form#contact-form {
        max-width: 100%;
        gap: 10px;
    }

    /* Inputs y textarea ocupan todo el ancho posible */
    form#contact-form input,
    form#contact-form textarea {
        width: 100%;
        font-size: 1rem;
    }

    /* Botón más grande y con padding para mejor tactilidad */
    form#contact-form button {
        padding: 14px 20px;
        font-size: 1.1rem;
        width: 150px;
    }

    #music-toggle {
        display: none;
    }

    .container-languages,
    .container-technologies {
        width: 100%;
        padding: 20px 10px 30px 10px;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .container-languages::-webkit-scrollbar,
    .container-technologies::-webkit-scrollbar {
        display: none;
    }

    .container-languages ul,
    .container-technologies ul {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        justify-content: flex-start;
        white-space: nowrap;
    }

    .container-languages ul li img,
    .container-technologies ul li img {
        width: 30px;
        height: 30px;
    }

}